<div class="ocr-component">
  <div class="howToOcr">
    <h2 class="tcenter bold" >How to use OCR</h2>
    <p class="ps5p" *ngFor="let step of steps" >{{step}}</p>
    <br>
    <h2 class="tcenter" >Available Languages</h2>
    <ol class="threeCol">
      <li *ngFor="let lang of ocrLang">{{lang.langName}}</li>
    </ol>
  </div>
  <div class="imagePreview">
    <div *ngIf="imageUrl==''" class="viewImg">
      <h4 class="tcenter" color="primary" >View image preview here.</h4>

    </div>
    <img *ngIf="imageUrl!==''" class="previewedImage" [src]="imageUrl"/>
  </div>
  <div class="uploadFile">

    <h3>More features may be available soon. To request a feature contact <a href="https://www.linkedin.com/in/IAM5K/" target="_blank" rel="noopener noreferrer">Developer</a> 
     </h3>
     <label for="image">Upload Image: </label>
    <input name="image" type="file" (change)="onselectFile($event)" required="true" ><br><br>
    <mat-form-field appearance="fill">
      <mat-label>Language</mat-label>
      <mat-select required="true" [(ngModel)]="langCode" (ngModelChange)="loadWorker()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let lang of ocrLang" [value]="lang.langCode" >{{lang.langName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>  
    <h4 *ngIf="language!==''" > Ready to Extract : {{language}}</h4>
    <button mat-raised-button [disabled]="!workerReady || imageUrl==''" type="submit" (click)="recogonizeImage()">Submit</button>
    <button mat-raised-button [disabled]="!workerReady" type="reset" (click)="resetOcr()">Scan New</button>
  </div>
  <div class="ocrResult" *ngIf="captureProgress!==0" >
    <mat-progress-bar class="ocrProgress" mode="determinate" [value]="captureProgress" color="accent"></mat-progress-bar>

    <h4>Progress: {{captureProgress}}%</h4>
    <p> <b>Extracted Text: </b>
    {{ ocrResult }}
  </p>
  <button *ngIf="captureProgress==100" mat-raised-button color="accent" (click)="copyText()">Copy Text</button> 
  </div>
</div>
