<div>
  <div>
    <h2>Type below</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ex sequi, similique sunt soluta quos voluptatibus vel neque doloribus? Autem soluta quisquam, voluptas ex impedit et repellendus ducimus optio natus!
      Similique quod placeat dolor officiis laudantium nihil enim atque iure ipsum provident, necessitatibus unde quis consequatur officia facilis libero sit deleniti sed non pariatur, quam ab. Repudiandae quam vero natus!
      Non expedita dolore ducimus, repellat sapiente reiciendis eaque deleniti est sint nesciunt eum repellendus soluta eligendi aut, totam molestias adipisci, repudiandae dolorum quod obcaecati minus? Exercitationem pariatur atque corporis delectus.
      Debitis provident nesciunt commodi, quos quibusdam saepe, eum maiores et, recusandae modi ea! Voluptas esse, consequatur consectetur quibusdam repudiandae, commodi corrupti facere, exercitationem assumenda maiores sunt? Nobis consequuntur debitis libero?
      Molestiae placeat iusto debitis, fugit, inventore quas tempore quos ipsam facilis consequatur assumenda nesciunt beatae quaerat aliquid quae reiciendis maiores aspernatur exercitationem nostrum quo dolorum eos? Nesciunt incidunt minima eveniet.
      Laborum, numquam asperiores qui repudiandae deserunt quos sit odit debitis placeat similique nihil dicta tempore dolor voluptatibus! Culpa ea dolorum sit recusandae consequuntur quam voluptas perspiciatis ipsa accusamus illo? Ratione.
      Consectetur pariatur saepe architecto. Quidem voluptatibus, sapiente rem officiis adipisci soluta, ab minima ipsa eligendi laudantium quasi consectetur, architecto distinctio sit! Debitis at saepe, nam iure fuga maiores vero eius?
      Expedita aliquid dolores natus deserunt deleniti inventore officiis! Voluptates, sapiente eos mollitia reprehenderit nostrum blanditiis natus dolores, aliquid amet sunt fugit tenetur at magni tempora error eligendi temporibus fugiat repudiandae!
      Ea aspernatur sapiente magni vero, quos consequuntur veniam! Eveniet odit deleniti illo ipsa, earum maxime nam aut accusantium molestias, dolores laborum dolore iusto perferendis quam expedita fugiat consectetur error blanditiis!
      Nulla error officia quod esse. Quidem, autem repudiandae. Tempora temporibus expedita impedit pariatur quaerat qui quis quibusdam porro minus laboriosam, ducimus quisquam aliquid accusamus iure consequatur eligendi illo eum consectetur!
    </p>
    <input type="text" [(ngModel)]="myText" placeholder=" type here..." />
    <input type="button" (click)="counter()" value="Count">
  </div>
  <br /><br />
  <div class="wordCount">
    <div>
      <!-- Your Text : <span><b> {{myText}} </b></span> <br /> -->
      Count: <span><b> {{myText.length}} </b></span><br/>
      Sentences: <span><b> {{sentences}} </b></span><br/>
      Alphabets: <span><b> {{alphabets}} </b></span><br/>
    </div>
  </div>
</div>
