.sidenav-container{
  position: relative;
  width: 100%;
  height: 95%;
  box-sizing: border-box;
}
.sidenav{
  width: fit-content;
  // max-width:(fit-content, 10%);
}
.nav-list{
  width:95%;
  margin: auto 30px auto 5px;
  padding: auto 10px auto 5px;
  border-radius: 8px;
}