<mat-toolbar>
  <mat-toolbar-row>
    <button name="menu-btn" aria-label="Center Align" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <img class="logo" src="../assets/linhel.png" alt="Lnguistic Helper Logo"> -->
    <h1 class="top-title">{{title}}</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sidenav [mode]="sideNavMode" [(opened)]="opened" (opened)="events.push('open!')"
  (closed)="events.push('close!')">
    <mat-nav-list class="nav-list">
      <a mat-list-item (click)="optSelected()" routerLink="">Home</a>
      <a mat-list-item (click)="optSelected()" routerLink="about">About</a>
      <a mat-list-item (click)="optSelected()" routerLink="ocr">OCR</a>
      <a mat-list-item (click)="optSelected()" routerLink="frequency"> Frequency</a>
      <a mat-list-item (click)="optSelected()" routerLink="tokenizer">Tokenizer</a>
      <a mat-list-item (click)="optSelected()" routerLink="wx-notation">WX Notation</a>
      <a mat-list-item (click)="optSelected()" routerLink="syllable">Syllable</a> 
    </mat-nav-list>
  </mat-sidenav>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
<div class="footer">
    <p class="tcenter" >Developed and Maintained by : <a href="https://www.linkedin.com/in/IAM5K/" target="_blank" rel="noopener noreferrer">SK</a> </p>
</div>
